API_KEY= 
DATABASE_PORT=
PORT=
JWT_SECRET= 

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=

TYPEORM_CONNECTION= postgres
TYPEORM_HOST= localhost
TYPEORM_USERNAME= root
TYPEORM_PASSWORD= 123456
TYPEORM_DATABASE= my_db
TYPEORM_PORT= 5432
TYPEORM_SYNCHRONIZE= false
TYPEORM_LOGGING= true
TYPEORM_ENTITIES= src/**/*.entity.ts

TYPEORM_MIGRATIONS= src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR= src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME= migrations